<div class="nav">
					<ul>
						<li><a class="extra" href="/">Blog</a></li>
        				<li><a class="extra" href="about.html">About Me</a></li>
        				<li><a class="extra" href="contact.html">Contact</a></li>
					</ul>
				</nav>
			</div>	

nav { 
	float: right; 
	width: 40%;
}


nav ul { float: right; }

nav li {
	float: left;
	list-style: none;
	padding: 4px 0;
}

nav a {
	color:#565656;
	display: block;
	font-size:12px;
	margin:5px 2px;
	padding:10px 10px 8px;
	text-transform:uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	border-right: 1px dashed rgba(0, 0, 0, .3);
}

nav li:last-child a { border-right: none; }


nav a:hover, nav a:focus {
	text-decoration:none;
	background-color:#f0f0f0;
	border-color: transparent;
}
